*.tgz
scripts/.examples-local-packs/
build/
dist/
coverage/
.swc/
node_modules/
.idea/
.archives/
.zed/

# Folder config file
Desktop.ini

# Mac desktop service store files
.DS_Store

# Test reports
tests/e2e/playwright-report
**/reports/

!documentation/website/packages/*.tgz
.env
