body {
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body::-webkit-scrollbar {
  width: initial;
  height: initial;
}

#root {
  width: 100%;
  height: calc(100vh - 58px);
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.navbar {
  background-color: #2b2b2b;
  padding: 8px 16px;
  display: flex;
  position: sticky;
  top: 0;
}

.navbar-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.logo-1 {
  float: left;
  color: #333;
}

.left-menu {
  align-items: center;
  display: flex;
  gap: 16px;
}

.nav-menu {
  align-items: center;
  display: flex;
  float: right;
  gap: 16px;
}

.docs-button {
  gap: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.docs-icon {
  width: 18px;
  height: 18px;
  gap: 0px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.docs-label {
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.license-button {
  height: 100%;
  color: #111827;
  white-space: nowrap;
  background-image: linear-gradient(to right, #93d8ff, #85afff);
  border-radius: 8px;
  align-items: center;
  margin-left: 0;
  padding: 8px 16px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  /*display: flex;*/
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  display: none;
}

.footer {
  z-index: 100;
  flex-direction: column;
  align-items: center;
  padding: 64px 112px;
  /*display: flex;*/
  background-color: #2b2b2b;
  display: none;
}

.logo-optimajet-info {
  width: 90%;
  max-width: 1312px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logo-2 {
  height: 60px;
}

.paragraph {
  width: 100%;
  color: #d1d5db;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  margin: 0;
}

.label {
  color: #d1d5db;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.heart {
  color: #ff492c;
}
